# Python Demo

In [1]:
8+10
# To execute
# 1. Run button on top
# 2. Shift + enter
# 3. Ctrl + enter

18

In [2]:
9*1
a = 10
# shift + enter -> execute the current cell and select next

In [3]:
5*2
# ctrl + enter -> execute the current

10

In [4]:
5+10
print(a)

10

### Creating a cell:
1. a -> cell above the selected one
2. b -> cell below the selected one
3. x -> delete the current cell
4. v -> to get the deleted cell back( it will create the cell below)
5. m -> convert the cell to markdown

# Python Codes

### Identifiers and Keywords

In [5]:
num1=10  #Variable
# num1 -> identifier

In [6]:
num2="John" # "", '' -> string

In [7]:
print(num1,num2, sep =",")  # seperator = " " end = "\n"
# to get doc string: shift+tab

10,John

In [8]:
print(num2)

John

In [9]:
num3=3.34  #float

while, for, if, for, key,else, elif, break, continue, pass

- start with a character( uppercase or lowercase)
- start with a underscore(_)
- followed by any number of letters, digits or underscore

In [10]:
#while=10
# for if else elif in def
#1num=10
_num=20
print(_num)

20

### Variables and Datatypes

In [11]:
#dynamically typed language
# integer
d1=20
print("Value:",d1)
# to know the datatype type()
type(d1)

Value: 20

int

In [12]:
# float/double
d2=33.9885675677656
print(d2)
type(d2)

33.9885675677656

float

In [13]:
# string: Alphanumeric 
d3="black_23"
d4='w'
print(d3,d4)
print(type(d3))
print(type(d4))

black_23 w
<class 'str'>
<class 'str'>

In [14]:
# string
d3='black_23'
d4="w"
print(d3,d4)
print(type(d3), type(d4))

black_23 w
<class 'str'> <class 'str'>

In [15]:
# logical/boolean
d5=True
#TRUE, true
d6=False
print(d5,d6)
type(d5)

True False

bool

### Input and Output Statements

In [16]:
height=input("enter ur height in cms:")
print(height)
type(height)

enter ur height in cms:6
6

str

In [17]:
bag1=input("Enter the weight of bag1:") # 20
bag2=input("Enter the weight of bag2:") # 10
total=bag1+bag2  # 2010
# num + num = add
# str + str = concatenation
print(total)
type(total)

Enter the weight of bag1:8
Enter the weight of bag2:9
89

str

In [18]:
#string to int -> function int()
print(type(bag1))
x = int(bag1)
print(x)
type(x)

<class 'str'>
8

int

In [19]:
bag1=int(input("Enter the weight of bag1:"))
bag2=int(input("Enter the weight of bag2:"))
total=bag1+bag2
print(total)
print(type(bag1), type(bag2))

Enter the weight of bag1:34
Enter the weight of bag2:7
41
<class 'int'> <class 'int'>

In [20]:
bag1=input("Enter the weight of bag1:")
bag2=input("Enter the weight of bag2:")
total=int(bag1)+ int(bag2)
print("Total weight is",total)
print(type(bag1), type(bag2))

Enter the weight of bag1:3
Enter the weight of bag2:7
Total weight is 10
<class 'str'> <class 'str'>

In [21]:
print("Bag1:", bag1, end = ",")
print("Bag2:", bag2)
str2 = "Bag"

Bag1: 3,Bag2: 7

In [22]:
print(bag1,bag2,str2, end=",")
print(str2)

3 7 Bag,Bag

In [23]:
print(bag1,bag2, sep = ":", end= " ")
print(str2)

3:7 Bag

### Operators

In [24]:
#Arithmetic (+,-,*,/,%,//)
a = 1
b = 5
c = 3

result = a+b+c

print(result)

9

In [25]:
print(a+b+c)

9

In [26]:
print(11 + 15 + 35)

61

In [27]:
3*5

15

In [28]:
19/5 #--> decimal division

3.8

In [29]:
20/5

4.0

In [30]:
19//5 #--> integer division --> quotient

3

In [31]:
16%5 # Modulus operator --> remainder

1

In [32]:
2**4 #2^5 = 2*2*2*2*2, 2 to the power 5

16

In [33]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

In [34]:
0/6

0.0

In [35]:
5 + 4 * 9 % (3 + 1) / 6 - 1  #BODMAS left to right
'''
5 + 4*9%4/6 -1
5 + 36%4/6 - 1
5 + 0/6 - 1
5 + 0.0 - 1
5.0 - 1
4.0
'''

'\n5 + 4*9%4/6 -1\n5 + 36%4/6 - 1\n5 + 0/6 - 1\n5 + 0.0 - 1\n5.0 - 1\n4.0\n'

In [36]:
5 + 14 // 9

6

In [37]:
#Assignment (=,+=,-=,*=,/=,%=,//=)
num=10  
print(num)

10

In [38]:
# Increase the value of num by 20
num = num + 20
print(num)

# increase by 10
num += 10  # num = num + 10
print(num)

30
40

In [39]:
a = 10
print("A", a)
# decrement by 5
a -= 5 # a = a - 5
print(a)

A 10
5

In [40]:
#Relational (==,!=,<,<=,>,>=)  returns T or F
a = 5
b = 9
# Equality ==
print( a == b)

# Inequlaity !=
print( a != b)

False
True

In [41]:
# > < <= >=
print(a>b)
print(a<b)

False
True

In [42]:
a = 'Morning'
b = 'Afternoon'
print(a == b) # == compares the value
print(a is b)   #compares memory location

False
False

In [43]:
11 >= 10

True

#Logical (or , and , not)
'''
0/False/None/empty string ---> considered as False by the logical operator
'''

and
or
not

In [45]:
x = 1
y = False

print( x or y)

1

In [46]:
str1 = "Hello"
y = False
str2 = "Y"
print( str1 and y)
print( str1 or y)

False
Hello

In [47]:
num1=23
num2=2

exp1 = num1>10
exp2 = num2>20

result = exp1 and exp2
#         T         F

print("Exp1", exp1)
print("Exp2",  exp2)
print("Result",result)

Exp1 True
Exp2 False
Result False

In [48]:
num1=2
num2=26

exp1 = num1>10
exp2 = num2>20

result = exp1 or exp2
#         F         T

print("Exp1", exp1)
print("Exp2",  exp2)
print("Result",result)

Exp1 False
Exp2 True
Result True

In [49]:
num1=2
num2=2
num3 = 45

exp1 = num1>10
exp2 = num2>20
exp3 = num3>40

result = exp1 or (exp2 and exp3)
#         F         T

print("Exp1", exp1)
print("Exp2",  exp2)
print("Exp3", exp3)
print("Result",result)

Exp1 False
Exp2 False
Exp3 True
Result False

In [50]:
print("Exp3:",exp3)
print("Exp2:", exp2)
print(not exp2)

Exp3: True
Exp2: False
True

### Type Conversion

In [51]:
# concatenation
A=10  #int
B=20.2  #float
C='Hi...' # str-> int => not possible, possible only if intger value is stored in string
D="Hru?"
E=False  #true=1, false=0
F = True

print(A+B)  #30.2
print(C+D)  #Hi...Hru?
print(A+E)  #10+0 = 10
print(A+F)  #11
print(int(E)) # 0
print(int(F))  #1

30.2
Hi...Hru?
10
11
0
1

In [52]:
p = "20"
q = 10

int(p)+q

30

In [53]:
#int() float() str()
#implicit and explicit

In [54]:
a=10
b=20.3
c=a+b # float
print("c:",c)
print('Int of c:', int(c))
int(23.999999)

c: 30.3
Int of c: 30

23

In [55]:
float(3)

3.0

In [56]:
# int to str
s=str(45)
print(type(s))
print(s)

<class 'str'>
45

String to int and string to float

In [57]:
str1 = '10'
int1 = int(str1)
print(int1)
type(int1)
# str -> int, string must be storing only an integer value

10

int

In [58]:
str1 = '10t'
int1 = int(str1)
print(int1)
type(int1)

ValueError: invalid literal for int() with base 10: '10t'

In [ ]:
str1 = '10.9'
int1 = int(str1)
print(int1)
type(int1)

In [59]:
str2 = "10.9"
float1 = float(str2)
print(float1)
type(float1)

10.9

float

In [60]:
str2 = "10r"
float1 = float(str2)
print(float1)
type(float1)

ValueError: could not convert string to float: '10r'

In [61]:
str2 = "10"
float1 = float(str2)
print(float1)
type(float1)
# str -> float: string should contain numeric value( int or float)

10.0

float

### Commenting in Python

In [62]:
# This is for single line comment
print("black")

black

In [63]:
'''
this
is
for
multiple
line 
comments
'''
print("Blue")

Blue

In [64]:
"""
this
is
also
for
multiple
line
comments
"""
print("Pink")

Pink