In [ ]:
### Collections:
 + -> do the concatenation
1. List
   used to store a group of elements
   homogeneous as well as heterogenous data
   [int values], [int and string]
   mutable
   list = [1,4,7] -> change the element or add a new 
2. Tuple -> ()
   similar to list
   immutable
   tuple = (2,6,9) -> change the element at index 0 -> will not be possible
                   -> add a new element -> possible
   tuple1 = (3,)
   tuple = tuple + tuple1
  func(a, *b)
   for i in 1,3,4
3. String
4. Set
5. Dictionary

### List
List can be used to store a group of elements together in a sequence.

In [1]:
list1 = []   #Creating empty list
print(type(list1))

<class 'list'>

In [2]:
list2 = ['Python',11, 1.5] # Heterogenous data
   #       0      1    2
   #      -3     -2   -1
print(list2)
list2[-1]

['Python', 11, 1.5]

1.5

In [ ]:
l = [1 , 2 , [3,6]]
#             0 1
#    0   1    2
print(l[2][0])

In [ ]:
list3 = ['Python',11, 1.5, ['a','e',[1,2,3,4]]] # List of lists
    #                                0 1 2 3
    #                         0   1     2     
    #        0      1    2            3 
print("element:",list3[3][2][2])
print("Length:",len(list3))
print("Length of element at index 3:",len(list3[3]))

In [ ]:
list5= [[2,4,5],
        [2,6,8]]
 #
print(list5)
print(list5[1])

In [ ]:
# When you know the number of elements, but not the values
list4 = [None]*5
list4

In [ ]:
list4[1]=2
list4

In [ ]:
# Random write

list4[0] = 'no plastic is cool' #mutable
list4

In [ ]:
print(list2)
len(list2) # Number of elemenst in list

In [ ]:
# Adding two lists, concatenation

new_list = list2 + list4

new_list

In [ ]:
# Iterating through a list using index

list_of_airlines=["AI","EM","BA"]
#                   0    1    2
print("Length:", len(list_of_airlines))
print("Iterating the list using range()")
for index in range(0,len(list_of_airlines)):  # (0,3) -> 0, 1, 2
    #              0,1,2
    print(list_of_airlines[index])

In [ ]:
l = [2,3,5]
for i in l:
    print(i)

In [ ]:
# Iterating through the values of a list
print(list_of_airlines)
print("Iterating the list using keyword in")
for airline in list_of_airlines:
    print(airline)

In [ ]:
list_of_airlines=["AI","SJ","JA","EM","AA", "AM"]#start - inclusive(default value is 0), end - Exclusive
               #   0    1    2   3    4    5  
      #           -6   -5   -4  -3   -2   -1
print(list_of_airlines[2:4])         
print(list_of_airlines[:4])

In [ ]:
print(list_of_airlines[4:1])

In [ ]:
print(list_of_airlines[3:])

In [ ]:
print(list_of_airlines[-4:-1])#(2:5)

In [15]:
list1 = [2,5,6]

In [16]:
list1.append(2)

In [17]:
list1

[2, 5, 6, 2]

In [ ]:
list_of_airlines.append(20)
print(list_of_airlines)

to get function related to collection:<br>
    list_name.tab

## Tuple

In [3]:
s = "D"
type(s)

s1 = "D",
type(s1)

tuple

In [4]:
sample_tuple=("A","B","C")
#             0    1   2
sample_tuple1=("D",)

In [6]:
# Random access
print(type(sample_tuple))
print(type(sample_tuple1))
print(sample_tuple[1])

<class 'tuple'>
<class 'tuple'>
B

In [7]:
sample_tuple=sample_tuple+sample_tuple1 # Concatenating tuples
print(sample_tuple)

('A', 'B', 'C', 'D')

In [8]:
# random write
sample_tuple[1]="S"

TypeError: 'tuple' object does not support item assignment

In [9]:
# Adding elements to tuple

sample_tuple=sample_tuple+("E",)
sample_tuple=sample_tuple+("F","G")
print(sample_tuple)

('A', 'B', 'C', 'D', 'E', 'F', 'G')

In [10]:
tuple1 = ((2,1),4, [1,5,3], "String", True)
print(tuple1)

((2, 1), 4, [1, 5, 3], 'String', True)

In [23]:
tuple1[2][2]

3

In [18]:
tuple1[2:4]

([1, 5, 3], 'String')

In [14]:
tuple1.index(4)
tuple1.count(5)

0

In [19]:
tuple5 = (2,7,9,10)

for i in tuple5:
    print(i)

2
7
9
10

## Set
unordered colletion of unique values

In [27]:
l = [3,6,8,2,4,3,5,3,4,5, True, "str", "str"]
print(l)
print(type(l))
print(len(l))

[3, 6, 8, 2, 4, 3, 5, 3, 4, 5, True, 'str', 'str']
<class 'list'>
13

In [28]:
set1 = set(l)
print(set1)
print(type(set1))
print(len(set1))

{True, 2, 3, 4, 5, 6, 8, 'str'}
<class 'set'>
8

In [31]:
tuple2 = (2,6,8,8,6,2,"t")
print(tuple2)
print(type(tuple2))
print(len(tuple2))

(2, 6, 8, 8, 6, 2, 't')
<class 'tuple'>
7

In [33]:
set2 = set(tuple2)
print(set2)
print(type(set2))
print(len(set2))

{8, 2, 't', 6}
<class 'set'>
4

In [30]:
s={1,2,2,3,5,2,7,3}
print(s)
print(type(s))

{1, 2, 3, 5, 7}
<class 'set'>

In [34]:
s1={1,3,4,5,5,8,9,20,5,8,9}
print(s1)

{1, 3, 4, 5, 20, 8, 9}

In [35]:
s1 & s   #common elements intersection

{1, 3, 5}

In [36]:
s1 - s # {1, 3, 4, 5, 20, 8, 9} - {1, 2, 3, 5, 7}
# unique elements of s1 which are not present in set s

{4, 8, 9, 20}

In [37]:
s1|s  # union

{1, 2, 3, 4, 5, 7, 8, 9, 20}

## String

In [38]:
str1 = "String"
type(str1)

str

In [40]:
str1[0]

'S'

In [ ]:
str1.startswith()

In [41]:
boarding_call="Good Evening, this is the final call to AI passengers for the flight AI 466 which is planned to take off at 8.40A.M."

if(boarding_call.startswith("Good Evening")):
    print(boarding_call.replace("Good Evening","Good Morning"))
    #                            old               new

Good Morning, this is the final call to AI passengers for the flight AI 466 which is planned to take off at 8.40A.M.

In [45]:
boarding_call[40]
boarding_call[41]

'I'

In [46]:
boarding_call.find("AE")

-1

In [42]:
if(boarding_call.find("AI"))>=0:
    # find returns the lowest index of first value in seq if only the seq occurs in the string
    print("Welcome to Air India.")

Welcome to Air India.

In [47]:
if(boarding_call.endswith("A.M.")):
    print("Passengers are requested to have their breakfast.")

Passengers are requested to have their breakfast.

In [48]:
a=boarding_call.split(" ") #return a list
print(a)
for i in a:
    if(i.isdigit()):
        print("Flight Number is specified to the passengers.",i)

print("Total number of times flight service name is specified in the boarding call:",boarding_call.count("AI"))

['Good', 'Evening,', 'this', 'is', 'the', 'final', 'call', 'to', 'AI', 'passengers', 'for', 'the', 'flight', 'AI', '466', 'which', 'is', 'planned', 'to', 'take', 'off', 'at', '8.40A.M.']
Flight Number is specified to the passengers. 466
Total number of times flight service name is specified in the boarding call: 2

In [52]:
message="Thank you all..Have a nice journey!"

print(message.upper())

print(message.lower())

THANK YOU ALL..HAVE A NICE JOURNEY!
thank you all..have a nice journey!

## Dictionary

key-value pair

In [53]:
car1 = {'model_name':'Polo','Price':15000, 'Color': 'Red'} #-- key:value 
car2 = {'model_name':'Mustang','Price':25000, 'Color': 'White', 'Year': 2008}
print(car1)
print(car2)
print(type(car1))

{'model_name': 'Polo', 'Price': 15000, 'Color': 'Red'}
{'model_name': 'Mustang', 'Price': 25000, 'Color': 'White', 'Year': 2008}
<class 'dict'>

In [54]:
car1.keys()

dict_keys(['model_name', 'Price', 'Color'])

In [55]:
car1.items()

dict_items([('model_name', 'Polo'), ('Price', 15000), ('Color', 'Red')])

In [56]:
car1.values()

dict_values(['Polo', 15000, 'Red'])

In [57]:
car1['model_name']

'Polo'

key: unique and immutable

In [58]:
car4 = {'Price':'Polo','Price':15000, 'Color': 'Red'}

In [59]:
car4['Price']

15000

In [60]:
car4 = {2:'Polo','Price':15000, 'Color': 'Red'}
car4[2]

'Polo'

In [61]:
car4 = {2.3:'Polo','Price':15000, 'Color': 'Red'}
car4[2.3]

'Polo'

In [62]:
car4 = {"A":[1,3,4],'Price':15000, 'Color': 'Red'}
car4

{'A': [1, 3, 4], 'Price': 15000, 'Color': 'Red'}

In [64]:
car4 = {(3,):"ABC"}

In [65]:
print(car1)

{'model_name': 'Polo', 'Price': 15000, 'Color': 'Red'}

In [66]:
for key,value in car1.items():
    print(key,value)

model_name Polo
Price 15000
Color Red